<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrimarySchool_DBMS__C.Properties.Settings.ASSIGNMENT_PRIMARY_SCHOOLConnectionString"
            connectionString="Data Source=DESKTOP-P8QBC2R\SQLEXPRESS;Initial Catalog=ASSIGNMENT_PRIMARY_SCHOOL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>